
body {
  text-align: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://s2.best-wallpaper.net/wallpaper/1920x1080/1809/Jungle-green-leaves-river-water_1920x1080.jpg');
}
button
{
  background-color: #4CAF50;
}

h2, th, h1{
  color: whitesmoke;
}
